body {
    margin:0px 0px;
}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus, 
.navbar-default .navbar-nav > li:hover {
    background-color: rgb(231, 231, 231);
    color: rgb(11, 50, 86);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
    border-radius: 5px;
    background: #ffffff;
    width: 10px;
    overflow: auto;
    border-width: 1px;
    border-color: #000000;
}

li.dropdown:hover > .dropdown-menu > li > a:hover{
	background-color: rgb(231, 231, 231);
    color: rgb(11, 50, 86);
}

nav.shrink {
	background-color: rgba(0,0,0, 0.5);
	height: 60px;
	padding-top: 0px;
}

nav.shrink>li>a{
	color: @green;
	font-size: 16px;
	font-family: @heading-text;
	padding-top: 30px;
}

nav > div > ul > li:hover {
	background-color: rgb(231, 231, 231);
    color: rgb(11, 50, 86);
}